.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    .column {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        @media (min-width: $breakpoint-md) {
            display: flex;
            flex-direction: column;
            flex: 1 0;
            padding: 0 15px;
        }
      }
  }
  
