* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
}

section {
    padding: 2rem 0;
    
    &:first-of-type {
        padding-top: 50px;
    }

    @media (min-width: $breakpoint-md) {
        &:first-of-type {
            padding-top: 2rem;
        }
    }

    .container {
        .heading {
            text-align: center;

            @media (min-width: $breakpoint-md) {
                margin-bottom: 2.5rem;
            }
        }
    }
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $breakpoint-sm) {
        max-width: 540px;
    }

    @media (min-width: $breakpoint-md) {
        max-width: 720px;
    }

    @media (min-width: $breakpoint-lg){
        max-width: 960px;
    }

    @media (min-width: $breakpoint-xl){
        max-width: 1140px;
    }
}

img {
    vertical-align: middle;
    border-style: none;
    padding-bottom: 10px;

    &.img-fluid {
        max-width: 100%;
        height: auto;
    }
}